<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div *ngIf="list.length; else listEmpty">
      <ul class="list-group">
        <li
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let ingredient of list"
          [ngClass]="{active: selected === ingredient }"
          (click)="onIngredientClick(ingredient)"
        >
          {{ingredient.name}}
          (x{{ingredient.amount}})
        </li>
      </ul>
    </div>
    <ng-template #listEmpty>
      Add some ingredients to your list!
    </ng-template>
  </div>
</div>
